<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jspservletborderex</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreatePostServlet</display-name>
    <servlet-name>CreatePostServlet</servlet-name>
    <servlet-class>com.tenco.servlet.CreatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePostServlet</servlet-name>
    <url-pattern>/CreatePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadPostsServlet</display-name>
    <servlet-name>ReadPostsServlet</servlet-name>
    <servlet-class>com.tenco.servlet.ReadPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadPostsServlet</servlet-name>
    <url-pattern>/ReadPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePostsServlet</display-name>
    <servlet-name>DeletePostsServlet</servlet-name>
    <servlet-class>com.tenco.servlet.DeletePostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostsServlet</servlet-name>
    <url-pattern>/DeletePostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailPostServlet</display-name>
    <servlet-name>DetailPostServlet</servlet-name>
    <servlet-class>com.tenco.servlet.DetailPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailPostServlet</servlet-name>
    <url-pattern>/DetailPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePostServlet</display-name>
    <servlet-name>UpdatePostServlet</servlet-name>
    <servlet-class>com.tenco.servlet.UpdatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePostServlet</servlet-name>
    <url-pattern>/UpdatePostServlet</url-pattern>
  </servlet-mapping>
</web-app>